* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #ffe6f0; /* pink lembut */
  color: #5a2a3c;      /* warna teks gelap */
}

/* HEADER */
.hero {
  background: linear-gradient(135deg, #ff9acb, #ff6fae);
  color: white;
  text-align: center;
  padding: 90px 20px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.hero h1 {
  font-size: 38px;
}

.hero p {
  margin-top: 10px;
  font-size: 18px;
}

/* CARD */
.card {
  background: white;
  max-width: 850px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 25px;
  box-shadow: 0 8px 20px rgba(255, 105, 180, 0.2);
}

.card h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #ff4f9a;
}

.card p {
  text-align: center;
  line-height: 1.7;
}

/* BIODATA */
ul {
  list-style: none;
}

ul li {
  padding: 8px 0;
  font-size: 16px;
}

/* HOBBY */
.hobby {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.hobby span {
  background: #ff6fae;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 14px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  color: #ff4f9a;
}
