* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: #f4f6f8;
  color: #333;
  line-height: 1.6;
}

/* HERO */
.hero {
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  color: white;
  text-align: center;
  padding: 90px 20px;
}

.hero h1 {
  font-size: 42px;
}

.hero p {
  margin: 10px 0 25px;
  font-size: 18px;
}

.btn {
  background: white;
  color: #2575fc;
  padding: 12px 30px;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
}

/* SECTION */
section {
  max-width: 900px;
  margin: auto;
  padding: 60px 20px;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #2575fc;
}

/* ABOUT & EDUCATION */
.about p,
.education p {
  text-align: center;
  max-width: 700px;
  margin: auto;
}

/* SKILLS */
.skill-list,
.hobby-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}

.skill-list span,
.hobby-list span {
  background: #2575fc;
  color: white;
  padding: 8px 18px;
  border-radius: 20px;
  font-size: 14px;
}

/* CONTACT */
.contact p {
  text-align: center;
  margin-bottom: 8px;
}

/* FOOTER */
footer {
  background: #ddd;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}
